.black {
  background-color: #000;
  color: #000;
}

.blue {
  background-color: #6493eb;
  color: #6493eb;
}

.brown {
  background-color: #75574c;
  color: #75574c;
}

.gray {
  background-color: #696969;
  color: #696969;
}

.green {
  background-color: #74cb48;
  color: #498b27;
}

.pink {
  background-color: #ce3761;
  color: #ce3761;
}

.purple {
  background-color: #8856e4;
  color: #8856e4;
}

.red {
  background-color: #df3e22;
  color: #df3e22;
}

.white {
  background-color: #959ba1;
  color: #747581;
}

.yellow {
  background-color: #b89824;
  color: #b89824;
}
